<!-- 
    <div class="wrapper">
        <div class="top_nav">
          <div class="left">
            <div class="logo"><p><span >ABC</span>Finances</p></div>
            
        </div> 
        <div>
          <ul >
            <li><a href="#">Email US<br></a><p>info@universalfinances@gmail.com</p></li>
            <li><a href="#">Call Us</a><p>+91 9870000010</p></li>
          </ul>
        
        </div>
        <div class="right1 ">
          <button class="btn" (click)="log()" style="height: 40px; width: 80px; background-color:aqua; margin-right: 30px; " >Login</button>
        </div>
        </div> -->
     
<div class="body">

  <div class="page-header">
      <h1 style="font-size:600%" style="color:white; font-family: 'Times New Roman', Times, serif" >ABC Finance</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#" style="font-size:150%">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="font-size:150%">About-Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" style="font-size:150%">Contact-Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" style="font-size:150%">What we offer?</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/companies']" style="font-size:150%">Companies</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link " [routerLink]="['/log']" style="font-size:150%">Login Here</a>
            </li>
        </ul>
      </div>
    </nav>
  <br><br><br><br>
  <div style="color:white">
      <i  style="font-size:200%">Decorate your office with our support!!!</i><br>
   <i  style="font-size:120%">We are regarded as the most popular business loan provider in India.</i><br>
   <i style="font-size:120%"> ABC Furniture Finance help you achieve business goals.</i>
  </div>
  </div>   

         
          
          
         
      
      
      
      
      
      
      
