/* .wrapper {
    display: flex;
    width: 100%;
} */

/* .sidebar {
    width: 180px;
    position: fixed;
    top: 58px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #a2c6d6;
    color: rgb(51, 46, 46);
    transition: all 0.3s;
} */
.sidebar{
    width: 20%;
    padding-top: 25px;    
    position: fixed;
    height: 100%;
    background:white;
    /* background: url("src\assets\img\abstract-5719221_960_720.jpg"); */
}

.sidebar a{
    display: block;
    width: 150%;
    padding: 6px 15px;
    color: rgb(57, 60, 63);
    font-weight: 645;
}

.sidebar a:hover{
    background:#beb7b7a1;
    width: 100%;
}
.name{
    color: whitesmoke;
    padding: 6px 15px;
    display: block;
    font-family: cursive;
    font-weight: bolder;
}